  h1{
    align-self: flex-start;
  }
  
  b{
    font-size: 2rem;
    margin-block: 30px;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .page {
    width: 90vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .actions {
    display: flex;
    gap: 30px;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
  
  button img {
    width: 30px;
  }
  
  button:disabled {
    cursor: not-allowed;
    box-shadow: none;
  }
  

  .outer-time-div {
    display: flex;
    justify-content: center; /* Center the outer div horizontally */
}
