/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  text-align: center;
  margin: 48px;
  font-weight: bold;
  color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


h1 {
    align-self: flex-start;
  }
  
  b {
    font-size: 2rem;
    margin-block: 30px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .navbar {
    display: flex;
    align-items: center;
    height: 60px;
    gap: 10px;
    background-color: #e5e5e5;
    padding-left: 30px;
  }
  
  .navbar a {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar .active {
    background-color: #fff;
    color: #000;
  }
  .page {
    width: 90vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .actions {
    display: flex;
    gap: 30px;
  }
  
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
  
  button img {
    width: 30px;
  }
  
  button:disabled {
    cursor: not-allowed;
    box-shadow: none;
  }
  

  .outer-time-div {
    display: flex;
    justify-content: center; /* Center the outer div horizontally */
}
